body {
  background-color: #000000;
  text-align: center;
}

h1 {
  font-size: 80px;
  color: #ffffff;
}

h2 {
  font-size: 40px;
  color: #ffffff;
}

a {
  color: #ffff00;
}

p {
  color: #ffffff;
}

li {
  color: #ffffff;
}

main {
  padding: 10px 50px;
}

header {
  padding: 10px 50px;

  border-bottom: yellow 5px solid;
}

footer {
  padding: 20px;
  border: solid 5px yellow; 
}
