body {
  background-color: #000000;
  text-align: center;
}

h1 {
  font-size: 80px;
  color: #ffffff;
}

h2 {
  font-size: 40px;
  color: #ffffff;
}

a {
  color: #ffff00;
}

p {
  color: #ffffff;
}

li {
  color: #ffffff;
}
